*{margin: 0;padding: 0}
ul{list-style: none}
body{font-family: "Microsoft YaHei"}
#head{background-color: rgb(241,241,241);height: 32px;position: relative;}
.hongbao{position: fixed;top: 0;right: 0;}
#head_wrap{width: 1200px;margin: 0 auto;position: relative }
#head .loc{width:80px;background: url("down.gif") no-repeat right;text-align: center;height: 30px;line-height: 30px;}
#head_wrap .loc:hover{background: url("up.gif") no-repeat right white}
#head ul{display: inline-block}
#head ul li{font-size:12px;list-style: none;display: inline-block;height: 30px;line-height: 30px;}
#head_wrap ul li a{color: rgb(102,102,102);text-decoration: none;display: inline-block;width: 132px}
#head_wrap .location{width: 312px;height: 244px;background-color: rgb(255,255,255);position: absolute;top: 32px;left:0;
    border: 1px solid rgb(221,221,221);display: none;}
.location a{display: inline-block;width: 40px;color: rgb(102,102,102);height: 25px;line-height: 25px;font-size: 6px;
    padding: 2px 10px;text-align: left;float: left;text-decoration: none}
#head_wrap a:hover{ color: rgb(200, 22, 35);}
.loc{margin-right: 300px;color: rgb(102,102,102)}
#head_wrap .location{border: 1px solid rgb(221,221,221);}
#head_wrap ul li{width: 76px; rgb(221,221,221);height: 32px;line-height: 32px; }
#head_wrap ul li div{height: 15px;line-height: 15px;width: 70px;border-left: 1px solid rgb(221,221,221);padding-left: 15px;}
#head_wrap .tele{background: url("shoujijd.png") no-repeat -1px -2px;text-indent: 16px}
#head_wrap .tele:hover{background: url("shoujijd2.png") no-repeat -1px -1px; }
#wangzhandh{position: absolute;top: 32px;left: 0;background-color: #FFFFFF;border-bottom: 1px solid #E4E4E4;display: none}
#shoujijd{position: absolute;top: 32px;left:72.5%;background-color: #FFFFFF;border-bottom: 1px solid #E4E4E4;display: none }
#guanzhujd{position: absolute;top: 32px;left: 79%;background-color: #FFFFFF;border-bottom: 1px solid #E4E4E4;display: none}
#kehufw{display: none;position: absolute;top: 32px;left: 86%}
#top-banner{width: 1210px;}
#wsearch{width: 1210px;margin: 0 auto}
#logo{margin:30px 100px 0 0;display: inline-block;float: left;}
#search{width: 538px;height: 40px;display: inline-block;margin: 25px 105px 0 0;float: left}
#search input{width: 452px;height: 32px;border: 2px solid rgb(200, 22, 35);color: rgb(153,153,153);float: left;}
#search button{width: 82px;height: 36px;background-color: #B61D1D;color: #ffffff;margin-left: 0;border: none;font-size: 16px;
}
#search p a{text-decoration: none;font-size: 8pt;color:#6A666F;margin: 0 3px }
#search p a:hover{color: red}
#settleup{width: 141px;height: 36px;border: 1px solid rgb(221,221,221);float: left;margin-top: 25px;}
#settleup .cw-icon{margin-top: 10px;  margin-left: 10px;
}
#settleup #cw-icon_dropdown{position:absolute;left: 1183px;top:219px;border-bottom: 1px solid #E4E4E4;border-left: 1px solid #E4E4E4;background-color: #FFFFFF;
display: none}
#settleup a{text-decoration: none;font-size: 14px;color: #666666;}
#settleup .ci-left{margin-left: 10px;}
#content{margin:120px 0 40px 0;}
#conten_ul1{list-style: none;position: relative;width: 1210px;margin: 0 auto}
.subtitle{width: 1210px;margin: 0 auto}
.subtitle span {
    display: inline-block;
    text-indent: -20px;
    width: 210px;
    height: 40px;
    line-height: 40px;
    background-color: brown;
    font-weight: bold;
    padding-left: 10px;
}
.subtitle a{margin: 0 15px;font-size: 12pt;color: rgb(51,51,51);text-decoration: none;}
.subtitle a:hover{color: #B61D1D}
.fengexian{height: 2px;background: #B61D1D;}
.submenu li{
    width: 210px;
    list-style: none;
    height: 31px;
    line-height: 31px;
    padding-left: 10px;
    background-color: red;
    font-size: 11pt;
    background-image: url("QQ20160422140741.png");
    background-position: right;
    background-repeat: no-repeat;
}
.submenu li a{
    color: white;
    text-decoration: none;
}
.submenu li:hover{border-left: 1px solid red}
.submenu li a:hover{color: rgb(200,22,35)!important;}
.floatcont{
    display: none;
    width: 975px;
    position: absolute;
    left: 220px;
    top: 0;
    border: 1px solid rgb(200,22,35);
    background-color: white;
    z-index: 20;
}
.submenu .demo .floatcont{display: block;border-top: 0;}
.submenu .demo span{float:right;display: inline-block;width: 20px;height: 31px;z-index: 50;
    position: absolute;left: 220px;top: 0;
    background: white;
}
.leftdiv dl{display: block;border-bottom: 1px solid #EEE;padding-bottom: 6px;overflow:hidden; }
.leftdiv dl dt{display: block;float: left;width: 100px;height: 24px;line-height: 24px;text-align: right;padding-right: 20px;}
.leftdiv dl dt a{font-size: 10pt;color: #666 !important;font-weight: bold}
.leftdiv dl dd{display: block;overflow: hidden}
.leftdiv dl dd a{display: block;float: left;color: #737373 !important;font-size: 9pt;border-left: 1px solid #cccccc;padding: 0 10px;
    height: 14px;line-height: 14px;margin:5px 0;}
.demo{background: #ffffff !important;}
.demo a{color: #FF0000 !important;}
#pics { width: 730px; height: 454px; background: #999; font: 12px Arial;
    position: absolute;top: 10px;left: 230px }
.big_pic { width: 730px; height: 454px; overflow: hidden; background: #222; position: relative; }
.big_pic li { width: 730px; height: 454px; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 0; background: url(loading.gif) no-repeat center center; }
.mark_left { width: 730px; height: 454px; position: absolute; left: 0; top: 0; background: red; filter: alpha(opacity:0); opacity: 0; z-index:3000; }
.mark_right { width: 730px; height: 454px; position: absolute; left: 365px; top: 0; background: green; filter: alpha(opacity:0); opacity: 0; z-index:3000; }
.big_pic .prev { width: 60px; height: 60px; background: url(btn.gif) no-repeat; position: absolute; top: 227px; left: 10px; z-index: 3001; cursor: pointer; filter:alpha(opacity: 0); opacity:0; }
.big_pic .next { width: 60px; height: 60px; background: url(btn.gif) no-repeat 0 -60px; position: absolute; top: 227px; right: 10px; z-index: 3001;cursor: pointer; filter:alpha(opacity: 0); opacity:0}
#pic_index{position: absolute;top: 430px;left: 520px;z-index: 9999}
#pic_index ul li{float: left;margin: 0 5px 0 0;width: 20px;height: 20px;border-radius: 50%;background-color: #6A666F;text-align: center;
color: #fff;font-size: 10px;cursor: pointer}
#youcedaohang{width: 250px;height: 454px  ;position: absolute;left: 970px;top: 10px;border: 1px solid #E4E4E4;overflow: hidden;  }
#youcedaohang dl{border-bottom: 1px solid #E4E4E4;}
#youcedaohang dt{color: #6A666F;height: 32px;display: inline-block;width: 90px;text-align: center;line-height: 32px;margin-right: 110px;
    border-bottom: 1px solid #E4E4E4;  }
#youcedaohang a{text-decoration: none;color:#6A666F;font-size: 9pt;}
#youcedaohang b:hover{color: red}
#youcedaohang b:hover a{color: red}
#youcedaohang a:hover{color: red}
#youcedaohang a:hover b{color: red}
#youcedaohang dd{height: 26px;line-height: 26px;text-align: left;margin-left: 15px;}
#youcedaohang dd b{font-weight: bold;color: #666666;}
#youcedaohang .tabpic ul {height: 210px;width: 250px;}
#youcedaohang .tabpic ul li{list-style: none}
#youcedaohang .tabpic ul li a{width: 61px;height: 68px;display: inline-block;border-bottom: 1px solid #E4E4E4;border-right: 1px solid #E4E4E4;
overflow: hidden;float: left;}
#youcedaohang a div{width: 64px;height: 40px;}
#youcedaohang a p{text-align:center;margin-top: 5px}
#youcedaohang a{text-decoration: none;color: #6A666F}
#tab{width: 250px;height: 210px;overflow: hidden}
#tabtitle{height: 28px;position: relative}
#tabtitle ul{width: 256px;position: absolute;left: -1px}
#tabtitle ul li{list-style: none;float: left;width: 61px;height: 26px;line-height: 26px;text-align: center;border-bottom: 1px solid #E4E4E4;
 padding: 0 1px   ;border-top: 1px solid #E4E4E4;border-right: 1px solid #E4E4E4;}
#tabtitle .titleselect{border-bottom-color: white;border-top: 2px solid red;background-color: #fff;}
#dibutupian{width: 1210px;height: 160px}
#dibutupian ul{list-style: none;margin-top: 10px}
#dibutupian ul li{display: inline-block;width: 246px;height: 160px;overflow: hidden}
#container{width: 1210px;margin:40px auto;}
#container p{font-size: 20px}
#container h3{font-weight: normal;display: inline-block;width: 100px;}

.cainixihuan ul .line{position: absolute;left:-1px;top: -1px;display: block;height: 1px;width: 2px;background-color: red;transition: 0.4s ease}
.cainixihuan ul{list-style: none;border: 1px solid #E4E4E4;height: 230px;width: 1210px;position: relative }
.cainixihuan ul li{width:195px;height: 230px;display: inline-block; }
.cainixihuan p:hover .line{left:10px;width: 20px;background-color: red }
#pinzhishenghuo{ margin-top: 30px}
#cebianmenu{position: fixed;left: 50%;margin-left: -635px;top: 100px;display: none}
#cebianmenu ul li{list-style: none;width: 30px;height: 28px;line-height: 28px;}
#cebianmenu ul li a{display: block;width: 15px;height: 28px;text-decoration: none;font-size: 11pt;color: #6A666F ;
border-top: 1px dotted #6A666F;margin: 0 auto}
#cebianmenu .current{background-color: red;border-top: none;width: 30px;color: #FFFFFF;text-align: center}
#pinzhishenghuo .pinzhishenghuo a{border: 1px solid #E4E4E4;margin-top: 10px;display: inline-block;}
.item{  margin-top: 30px}
.item ul{list-style: none;display: inline-block;height: 35px;line-height: 35px;float:right;position: relative}
.item ul li{display: inline-block;height: 33px;}
.item ul li a{color: rgb(102,102,102);text-decoration: none;font-size: 12px;height: 15px;line-height: 15px;margin: 0;
border-top: 1px solid #E4E4E4;padding-top: 6px;display: inline-block;width: 48px;text-align: center}
.item ul li a:hover{color: red}
.item .fushi_pics{width: 1210px;clear: both;height: 630px}
.item .fushi_pics a{display: inline-block;height: 630px;width: 335px;border: none;}
.item .fushi_pics ul{list-style: none;width:875px;height: 630px;border: none;position: relative;overflow: hidden;clear: both}
.item .fushi_pics ul li{width: 875px;height: 630px;overflow: hidden;position: absolute;top: 0;left: -18px;z-index: 1;}

#ttdj{width: 1210px;margin: 0 auto}
.dijia{border: 1px solid #E4E4E4;height: 280px;width: 100%}
#ttdj span{display: inline-block;width: 240px;height: 280px;border-right: 1px solid #E4E4E4}
#ttdj a{display: inline-block;width: 240px;height: 230px;text-decoration: none;color:#6A666F;font-size: 12px;text-align: center;
    overflow: hidden;
}
#ttdj a div{width: 240px;height: 200px;background:url("dijia1.png") no-repeat 0 0;transition:all 0.4s ease-out}
#ttdj a div:hover{background-position: -15px;}
#ttdj a p{margin-top: 10px}
#ttdj a p:hover{color: red}
#ttdj b{font-size: 16px;color: red;display: inline-block;margin-left: 25px}
#dkhs{background-color: #F5F5F5;height: 100px;}
.dkhs_pics{width: 1210px;margin: 0 auto}
#footer1{width: 1210px;margin: 0 auto;border-bottom: 1px solid #E4E4E4;padding-bottom: 30px}
#footer1 dl{width: 200px;display: inline-block}
#footer1 a{text-decoration: none;color:#6A666F;font-size: 9pt;}
#footer1 a:hover{color: red;}
#footer2{width: 1210px;margin: 0 auto}
#footer2 ul{list-style: none;width: 800px;margin: 0 auto}
#footer2 ul li{display: inline-block;border-right: 1px solid #6A666F;height: 10px;padding:0 10px;line-height: 10px}
#footer2 a{text-decoration: none;color:#6A666F;font-size: 10px;}
#footer2 a:hover{color: red;}
#backtotop{height: 35px;width: 85px;border-radius: 3px;line-height: 35px; }
#backtotop a{display: inline-block;width: 35px;background-color:#7A6E6E;;height: 35px;position: fixed;right: 0;bottom: 35px;;z-index: 20}
#backtotop a:hover{background-color: red}
#backtotop a img{width: 15px;margin:12px auto;display: block;height:10px; }
#backtotop span{display: inline-block;width: 50px;text-align: center;color: #FFFFFF;background-color: red;font-size: 9pt;height: 35px;position: fixed;
right: -50px;bottom: 35px;z-index: 2}